<h2>My Education:</h2>
<p>{{education}}</p>
<div>
   <h3>My courses:</h3>
	<ul>
		  <li class='courses' *ngFor='let course of courses; let i = index'>
        <span>Course from: {{course.course}}</span>
        <span>Title: {{course.title}}</span>
      </li>
	</ul>
</div>
<div>
    <h3>Workshops:</h3>
  <ul>
      <li class='Workshops' *ngFor='let workshop of workshops; let i = index'>
        <span>Workshops from: {{workshop.workshop}}</span>
        <span>About: {{workshop.about}}</span>
      </li>
  </ul>
</div>
