<div class="text">
  <h2><i class="material-icons">business_center</i> My Experience:</h2>
  <p>
    My data for this project is served from a json file which can be found <a href="https://github.com/wallowallo/online-cv/blob/master/src/app/cv.json" target="_blank">here.</a>
    {{experience}}<a href="https://github.com/wallowallo" target="_blank">Github account.</a>
  </p>
</div>
<div class="text">
  <h3>
    Projects:
  </h3>
  <div>
    <i id="project" class="material-icons">assignment</i>
    {{project}}
  </div>
  <md-list dense>
    <md-list-item *ngFor="let description of descriptions">
      <img md-list-avatar src="checkmark.png" alt="checkmark">
      <span>{{description}}</span>
    </md-list-item>
  </md-list>
</div>
