<md-toolbar color="primary">
	<button md-button (click)="sidenav.open()">
		Nav
		<i class="material-icons">chevron_right</i>
  </button>
	<h1>My Online CV:</h1>
</md-toolbar>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
		<a class="link" href="/graph">Graph</a>
		<a class="link" href="/experience">Experience</a>
		<a class="link" href="/education">Education</a>
		<a class="link" href="/about">About Me</a>
		<a class="link" href="/contact-me">Contact Me</a>
		<button md-raised-button (click)="sidenav.toggle()">
			<i class="material-icons">chevron_left</i>
			Nav
		</button>
	 </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>
