<md-toolbar color="primary">
	<button class="toggleMenu" md-button (click)="sidenav.toggle()">
		<i class="material-icons">view_headline</i>
  </button>
	<h1 clss="mainHeader">My Online CV:</h1>
</md-toolbar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav class="sidenav" #sidenav mode="side" opened="true">
		<a class="link" [routerLink]="['/']">Skills</a>
		<a class="link" [routerLink]="['/experience']">Experience</a>
		<a class="link" [routerLink]="['/education']">Education</a>
		<a class="link" [routerLink]="['/about']">About Me</a>
		<a class="link" [routerLink]="['/contact-me']">Contact Me</a>
	 </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>

<footer>
  <md-toolbar color="primary">
    <div class="footerText">
      My data for this project is fetched from a json file which can be found <a class="footerLink" href="https://github.com/wallowallo/online-cv/blob/master/src/app/cv.json" target="_blank">here.</a>
    </div>
  </md-toolbar>
</footer>
