/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
}

.chart {
  max-width: 950px;
  margin: 40px auto;
}

.link:link, .link:visited {
  background-color: DarkViolet;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: block;
}

.link:hover, .link:active {
  background-color: purple;
}

img {
  border-radius: 50%;
  float:left;
  margin: 10px;
  padding: 10px;
}

.headerintro {
  text-align:center;
}

.text {
  max-width: 600px;
  margin: 40px auto;
}

.subject {
  margin: 10px 50px;
  padding: 10px;
}

.content {
  margin: 10px 50px;
  padding: 10px;
}

textarea {
  margin: 0 50px;
}

.tekst {
  margin: 10px 50px;
}

i {
  padding: 5px;
}

.aboutme {
  display: inline-block;
}

