/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

* {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-style: normal;
	font-variant: normal;
}

body {
  margin: 0;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 26.4px;
	display:flex;
	margin-left: 40px;
}

.chart {
  max-width: 1050px;
  margin: 40px auto;
}

.link:link, .link:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.link:hover, .link:active {
  background-color: purple;
}

.myimg {
  border-radius: 50%;
  float:left;
  margin: 15px 10px 75px 10px;
  padding: 10px;
}

.headerintro {
  text-align:center;
}

.text {
  max-width: 700px;
  margin: 40px auto;
}

.subject {
  margin: 10px 50px;
  padding: 10px;
}

.content {
  margin: 10px 50px;
  padding: 10px;
}

textarea {
  margin: 0 50px;
}

.tekst {
  margin: 10px 50px;
}

.aboutme {
  display: inline-block;
}

p {
  text-align: justify;
}

.mailHeader {
	margin: 20px 55px;
}

.sendButtonn {
	display: inline-block;
	margin: 10px 60px;
}

.note {
	word-wrap: break-word;
}

.toggleMenu {
	line-height: 0 !important;
}

.footerText {
	margin: 5px auto;
}

.footerLink {
	color: black;
}

.sidenav {
	background-color: MediumPurple
}

#project {
  padding: 10px 0 0 0;
}
