<div>
  Graph with skills here:
</div>
<div style="display: block">
  <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [chartType]="radarChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
<div>
   About my skills listed from id here:
	<ul>
		  <li class='skills' *ngFor='let skill of skills; let i = index'>
        <span>Skill: {{skill.skill}}</span>
        <span>Level: {{skill.level}}</span>
        <span>Note: {{skill.note}}</span>
      </li>
	</ul>
</div>
